.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#loading {
  position: absolute;
  top: 25px;
  width: 12.5em;
  height: 4em;
}

.load-l {
  opacity: 0;
  animation: load-in 3s 0.0s ease infinite;
}
.load-o {
  opacity: 0;
  animation: load-in 3s 0.1s ease infinite;
}
.load-a {
  opacity: 0;
  animation: load-in 3s 0.2s ease infinite;
}
.load-d {
  opacity: 0;
  animation: load-in 3s 0.3s ease infinite;
}
.load-i {
  opacity: 0;
  animation: load-in 3s 0.4s ease infinite;
}
.load-n { 
  opacity: 0;
  animation: load-in 3s 0.5s ease infinite;
}
.load-g {
  opacity: 0;
  animation: load-in 3s 0.6s ease infinite;
}

@keyframes load-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  
  30% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}