form {
  max-width: 80rem;
  margin: 0 auto;
}

fieldset {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 33%;
  padding: 1em 2em;
}

fieldset > label, fieldset > div {
  min-height: 4.3em;
  margin: 0 1.5em;
}

fieldset label > span:first-child {
  text-transform: capitalize;
}

button[type="submit"] {
  font-size: 1em;
  display: block;
  padding: 0.5em 2em;
  margin: 0.5em auto;
}

button[type="submit"]:hover {
  cursor: pointer;
}

.bookcover {
  border-radius: 5px;
  background-color: #00000011;
}

.bookcover label:first-child {
  margin-right: 0;
}

.bookcover label:nth-child(2) {
  margin-left: 0;
}

.validation-text {
  display: block;
  color: crimson;
  font-size: 0.9em;
  text-align: center;
  margin: 0;
  white-space: pre-line
}

@media screen and (max-width: 500px) {
  fieldset {
    padding: 0;
  }
}