.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12em;
  padding: 0.3em;
  border: 1px solid #202581cb;
  border-radius: 8px;
  text-transform: capitalize;
  overflow: hidden;
}

.card:hover {
  filter: drop-shadow(0 0 0.1em #646cff77);
  cursor: pointer;
  border-color: #646cff;
}

.card__title {
  margin: 0.2em;
}

.card span {
  display: block;
}