:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  text-align: center;
  margin: 1em;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 13em;
  padding: 0.3em;
  border: 1px solid #202581cb;
  border-radius: 8px;
}

.card:hover {
  filter: drop-shadow(0 0 0.5em #646cffaa);
  cursor: pointer;
  border-color: #646cff;
}

.card .title {
  margin: 0.2em;
}

.card .stats {
  display: flex;
  justify-content: space-between;
}
